* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, serif;
	margin: 0 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Oswald, Arial, serif;
	margin: 10px 0;
	color: #748B78;
}

h1 {
	text-align: center;
}

nav, footer {
	background: #1D1E18;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	color: #F8F8FF;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	font-weight: bold;
}

p {
	margin: 10px 0;
}

footer {
	color: #F8F8FF;
	text-align: center;
	padding: .25em;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

main img {
	max-width: 300px;
}

#family {
	margin: 1.5em auto;
	display: block;
}

#profile-pic {
	text-align: center;
	margin-bottom: 1.5em;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}

	
	main {
		display: grid;
		grid-template-columns: 3fr .5fr;
		column-gap: 10px;
	}

	main img {
		max-width: none;
	}

	#profile-pic {
		float: left;
		margin: 0 1em 0 0;
		max-width: 200px;
	}

	#beat-witch-cover {
		display: block;
		text-align: center;
		max-width: 250px;
	}

	#family {
		max-width: 600px;
	}
}